:root {
  --theme1: rgb(98, 0, 238);
  --theme1-hover: rgba(98, 0, 238, 0.1);
  --theme1-active: rgba(98, 0, 238, 0.8);
  --theme2: black;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}
