astroid==2.15.6
bases==0.2.1
black==23.7.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
dag-cbor==0.3.2
dill==0.3.7
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
multiformats==0.2.1
multiformats-config==0.2.0.post4
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pylint==2.17.5
python-dotenv==1.0.0
requests==2.31.0
tomlkit==0.12.1
typing-validation==1.0.0.post2
typing_extensions==4.7.1
urllib3==2.0.4
wrapt==1.15.0
